.container {
  display: grid;
  place-items: center;
  height: 100svh;
}
.title {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.5s;
}
.titleWrapper {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
