.home {
  min-height: 100vh;
  width: 100%;
}
.project-grid {
  display: grid;
  max-width: 1200px;
  padding: 1rem;
  gap: 1rem;
  margin-top: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}